---
---
<!DOCTYPE html>
<html>
    <head>
        {% include head.html title="Download" %}

        <script>
            $(document).ready(function()
            {
                $('.ui.accordion')
                    .accordion();
            });
        </script>
        <script type="text/javascript">
            var S3BL_IGNORE_PATH = true;
            var BUCKET_URL = 'https://bsf-nightly.s3.amazonaws.com';
            var BUCKET_WEBSITE_URL = 'https://dilborceisv8p.cloudfront.net';
            var S3B_SORT = 'NEW2OLD';
        </script>
        <script type="text/javascript" src="list.js"></script>
    </head>
    <body>
        <!-- Page Contents -->
        <div class="pusher">
            {% include menu.html %}

            <div class="contents">
                <div class="ui basic inverted segment" style="padding-top:30px;margin-top:0px; margin-bottom: 0px;">
                    <div class="ui text container">
                        <h2 class="ui inverted header subTitle" style="border-bottom: 1px solid #555555">
                            Download
                        </h2>

                        {% assign latestVersion = site.data.releases["latest"] %}
                        {% assign latest = site.data.releases.lookup[latestVersion] %}
                        <h2 class="ui dividing inverted header">
                            <div class="content">
                                Latest release ({{ latest.name }})
                                <div class="sub header">Release date: {{ latest.date }} | <a href="{{ latest.notes }}">Release notes</a></div>
                            </div>
                        </h2>

                        <h4 class="ui inverted header">Binaries</h4>
                        <table class="ui inverted celled striped table">
                            <thead>
                                <tr><th class="ten wide">Platform</th>
                                    <th class="six wide">Files</th>
                                </tr></thead>
                            <tbody>
                                <tr>
                                    <td>Windows 64-bit</td>
                                    <td class="collapsing"><a href="{{ latest.binaries["windows"].path }}">{{ latest.binaries["windows"].name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Linux (Ubuntu)</td>
                                    <td class="collapsing"><a href="{{ latest.binaries["linux"].path }}">{{ latest.binaries["linux"].name }}</a></td>
                                </tr>
                                <tr>
                                    <td>macOS</td>
                                    <td class="collapsing"><a href="{{ latest.binaries["macOS"].path }}">{{ latest.binaries["macOS"].name }}</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="ui inverted header">Source</h4>
                        <table class="ui inverted celled striped table">
                            <thead>
                                <tr><th class="ten wide">Platform</th>
                                    <th class="six wide">Files</th>
                                </tr></thead>
                            <tbody>
                                <tr>
                                    <td>All platforms</td>
                                    <td class="collapsing"><a href="{{ latest.source.path }}">{{ latest.source.name }}</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="ui inverted header">Notes</h4>
                        <div class="ui inverted accordion">
                            <div class="title"><i class="dropdown icon"></i>Known issues</div>
                            <div class="content">
                                <div class="ui basic inverted segment releaseNotes">
                                {{ latest.issues }}
                                </div>
                            </div>
                        </div>
                        <h2 class="ui dividing inverted header">
                            <div class="title">Nightly builds</div>
                            <div class="sub header">Builds of the most recent (potentially unstable) version, updated nightly</div>
                        </h2>
                        <div id="scrollerExamplesMain" style="height:310px;overflow-y:scroll;overflow-x:hidden;position:relative;">
                            <div id="listing"></div>
                        </div>

                        <h2 class="ui inverted header">Older releases</h2>

                        {% for releaseVersion in site.data.releases.older %}
                        {% assign release = site.data.releases.lookup[releaseVersion] %}
                        <h3 class="ui dividing inverted header">
                            <div class="content">
                                {{ release.name }}
                                <div class="sub header">Release date: {{ release.date }} | <a href="{{ release.notes }}">Release notes</a></div>
                            </div>
                        </h3>

                        <h4 class="ui inverted header">Binaries</h4>
                        <table class="ui inverted celled striped table">
                            <thead>
                                <tr><th class="ten wide">Platform</th>
                                    <th class="six wide">Files</th>
                                </tr></thead>
                            <tbody>
                                <tr>
                                    <td>Windows 64-bit</td>
                                    <td class="collapsing"><a href="{{ release.binaries["windows"].path }}">{{ release.binaries["windows"].name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Linux (Ubuntu)</td>
                                    <td class="collapsing"><a href="{{ release.binaries["linux"].path }}">{{ release.binaries["linux"].name }}</a></td>
                                </tr>
                                <tr>
                                    <td>macOS</td>
                                    <td class="collapsing"><a href="{{ release.binaries["macOS"].path }}">{{ release.binaries["macOS"].name }}</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="ui inverted header">Source</h4>
                        <table class="ui inverted celled striped table">
                            <thead>
                                <tr><th class="ten wide">Platform</th>
                                    <th class="six wide">Files</th>
                                </tr></thead>
                            <tbody>
                                <tr>
                                    <td>All platforms</td>
                                    <td class="collapsing"><a href="{{ release.source.path }}">{{ release.source.name }}</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="ui inverted header">Notes</h4>
                        <div class="ui inverted accordion">
                            <div class="title"><i class="dropdown icon"></i>Known issues</div>
                            <div class="content">
                                <div class="ui basic inverted segment releaseNotes">
                                {{ release.issues }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
