<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120676613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120676613-1');
</script>

<!-- Standard Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="C++ game development framework with focus on modern technologies such as physically based rendering and Vulkan, to serve as a foundation for the development of high-performance real-time graphical applications, including games, tools and engines.">

<!-- Facebook Meta -->
<meta property="og:url"             content="https://www.bsframework.io"/>
<meta property="og:site_name"       content="bs::framework"/>
<meta property="og:image"           content="https://www.bsframework.io/images/bsfLogoHeaderLargeBgSquare.png"/>
<meta property="og:title"           content="bs::framework - Next-generation C++ game development framework"/>
<meta property="og:description"     content="C++ game development framework with focus on modern technologies such as physically based rendering and Vulkan, to serve as a foundation for the development of high-performance real-time graphical applications, including games, tools and engines."/>
<meta property="og:type"            content="website"/>

<!-- Twitter Meta -->
<meta name="twitter:site"           content="@thebsframework"/>
<meta name="twitter:card"           content="summary"/>
<meta name="twitter:title"          content="bs::framework - Next-generation C++ game development framework"/>
<meta name="twitter:description"    content="C++ game development framework with focus on modern technologies such as physically based rendering and Vulkan, to serve as a foundation for the development of high-performance real-time graphical applications, including games, tools and engines."/>
<meta name="twitter:image"          content="https://www.bsframework.io/images/bsfLogoHeaderLargeBgSquare.png"/>

<!-- Site Properties -->
<title>bs::framework - Next-generation C++ game development framework | {{ include.title }}</title>
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Raleway">
<link rel="stylesheet" href="prism.css"/>

<!-- Scripts -->
<script src="jquery/jquery.js"></script>
<script src="semantic/dist/semantic.js"></script>
<script src="prism.js"></script>

<script>
    $(document).ready(function()
    {
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item');

        $('.ui.sticky').sticky();

        $('.menu .item').tab();

        var menu = $('#iterable_menu');
        $("div[id] , :header[id]").each(function (index)
                                        {
            if($(this).attr('id') == 'iterable_menu')
                return true;

            menu.append('<a class="item" href="#'+$(this).attr('id')+'">'+$(this).attr('id')+'</a>');
        });
    });
</script>
